<ion-header>
    <ion-toolbar>
        <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form (submit)="doLogin()">
        <ion-item lines="none">
            <h2> {{ 'WELCOME_LOGIN_TITLE' | translate }}</h2>
        </ion-item>
        <ion-card color="light">
            <ion-card-content>
                <ion-input type="tel" [(ngModel)]="account.mobile" name="mobile" required="true"
                           clear-input="true"
                           placeholder="{{ 'MOBILE_PLACEHOLDER' | translate }}"></ion-input>
            </ion-card-content>
            <ion-card-content>
                <ion-input type="password" [(ngModel)]="account.password" name="password"
                           required="true"
                           clear-input="true"
                           placeholder="{{ 'PASSWORD_PLACEHOLDER' | translate }}"></ion-input>
            </ion-card-content>
        </ion-card>
        <div class="ion-padding">
            <ion-button expand="full" (click)="doLogin()">{{ 'LOGIN_BUTTON' | translate }}</ion-button>
        </div>
      <div class="ion-padding">
        <ion-button expand="full" (click)="doLogin()">{{ 'REGISTER_BUTTON' | translate }}</ion-button>
      </div>
    </form>
</ion-content>
